.main{
    margin-left: 45%;
    margin-top: 5px;
}
    
.btn-text{
    margin-top: 20%;
}

#btn{
    background-color: #851592;
    border: none;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#text{
    padding: 2px 25px
}